<% content_for :title do %>Contact<% end %>
<h3>Contact</h3></h>
<div class="form">
    <%= form_for :contact, url: contact_path do |form| %>
        <%= form.text_field :name, autofocus: true , placeholder: "Name goes here..."%><br><br>
        <%= form.email_field :email, placeholder: "Your email" %><br><br>
        <%= form.text_field :content, as: :text, placeholder: "Enter content here" %><br><br>
        <%= form.submit :submit,  class: 'submit' %>
    <% end %>
</div>
</div>
